
.top-container {
    background-color: #F0EDCF;
    height: 100vh;
    width: 100%;
    margin-top: 0;
    padding: 0;
}
.bio-image{
    height: 450px;
    width: 450px;
    border-radius: 50%;
    background-color: #F0EDCF;
    float: right;
    margin-top: 80px;
    margin-right: 30px;
    border: #0B60B0 30px solid;
}
.bio-image img{
    position: absolute;
    margin-left: 80px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading {
    position: absolute;
    margin-top: 100px;
}
.heading h1{
    color: #40A2D8;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
}
.heading h2{
    color: #0B60B0;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
}
.Mid-Container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 40px;
    background-color: #F0EDCF;
}
.Mid-Container .education {
margin-left: 80px;
background-color: #40A2D8;
grid-area: 1/1/2/2;
border-radius: 50px;
}
.Mid-Container .my_skills {
margin-right: 40px;
background-color: #40A2D8;
grid-area: 1/2/2/3;
border-radius: 50px;
}
.Mid-Container.education > h2 , .Mid-Container.education > h3 {
    font-family: "Sacramento", cursive;
    
    color: black; 
    text-align: center;
}
.education, .my_skills{
    text-align: center;
    font-size: 1.5em;
}
.Highlight{
    color: #280274; 
    font-size: 4.5rem;
    text-align: center;
}
.item {
    display: flex;
    margin-bottom: 10px;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    
}
.item.language, .item.framework, .item.SkillSet {
    background-color: #F0EDCF;
    border-radius: 15px;
    padding: 0px 10px;  
    margin-right: 40px;
}
.item.coursework, .item.Databases {
    background-color: #40A2D8;
    border-radius: 15px;
    padding: 0px 10px; 
    border: #280274 5px solid; 
    margin-right: 40px;
}
.bottom-container{
    padding: 0px;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #40A2D8;
    font-size: 2rem;
    border: #F0EDCF 5px solid;
    border-radius: 20px;
}
.bottom-container div h2 {
    text-align: center;
}
.footer {
    
    background-color: #F0EDCF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: #280274 2px solid;
}
.footer > a{
    margin: 50px;
    font-size: 1.2rem;
}
